* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
}
/*------------------------------ Header ---------------------------------------*/

.header {
  height: 70px;
  /* border: 1px red solid; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-image {
  width: 100px;
  height: 17px;
  margin: 0px 0px 0px 30px;
}

.header-button {
  color: #fd53c0;
  border: 1px solid;
  border-radius: 10px;
  background: white;
  height: 20px;
  width: 80px;
  font-size: 10px;
  margin: 0px 30px 0px 0px;
}

/*------------------------------ Hero ---------------------------------------*/

.hero {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
}

.hero-title {
  margin: 50px 0px 0px 0px;
  text-transform: capitalize;
  font-weight: 600px;
}

.hero-description {
  margin: 20px 0px 20px 0px;
  text-align: center;
  font-size: 14px;
}

.form-button {
  color: white;
  border: 1px solid #fd53c0;
  border-radius: 20px;
  background: #fd53c0;
  width: 190px;
  height: 35px;
  text-transform: capitalize;
}

.hero-image {
  width: 500px;
  margin: 50px 0px 0px 0px;
}

.hero-numbers {
  margin: 30px 0px 0px 0px;
  display: flex;
  width: 400px;
  justify-content: space-between;
  height: 700px;
}

.hero-numbers-title {
  font-size: 40px;
}

.hero-numbers-description {
  color: #7f9395;
  font-size: 12px;
  text-align: center;
  margin: 5px 0px 0px 0px;
  font-weight: 400px;
}

.communities {
  height: 110px;
  background-image: url("../images/icon-communities.svg");
  background-repeat: no-repeat;
  background-position-y: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 20px 20px;
}

.messages {
  height: 110px;
  background-image: url("../images/icon-messages.svg");
  background-repeat: no-repeat;
  background-position-y: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 20px 20px;
}

/*------------------------------ Content1 ---------------------------------------*/
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  margin: 0px 0px 20px 0px;
}

.content-title {
  font-size: 30px;
  margin: 0pc 0px 10px 0px;
}

.content-description {
  font-size: 12px;
}

.content-image {
  width: 400px;
}

/*------------------------------ Content1 ---------------------------------------*/
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 80px 0px;
}

.section2-title {
  margin: 0px 0px 20px 0px;
  text-transform: capitalize;
}

/*------------------------------ Footer ---------------------------------------*/
.footer {
  background: hsl(192, 100%, 9%);
  color: white;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0px 80px 0px 80px;
}

.footer-company-img {
  width: 190px;
  filter: invert(1);
}

.footer-company-description {
  margin: 15px 0px 15px 0px;
  font-size: 12px;
  line-height: 20px;
}

.footer-company-phone {
  background-image: url("../images/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-y: 5px;
  padding: 0px 27px;

  margin: 0px 0px 10px 0px;
}

.footer-company-email {
  background-image: url("../images/icon-email.svg");
  background-repeat: no-repeat;
  background-size: 13px;
  background-position-y: 7px;
  padding: 0px 27px;
}

.footer-social {
  display: flex;
  margin: 40px 0px 0px 78px;
  justify-content: space-between;
  width: 100px;
}

.socialWrapper {
  filter: invert(1);
}

.social-img {
  width: 25px;
}

.newsletter-title {
  margin: 0px 0px 15px 0px;
}

.newsletter-description {
  margin: 0px 0px 25px 0px;
  font-size: 13px;
}

.newsletter-input {
  width: 250px;
  height: 30px;
  border-style: none;
  border-radius: 2px;
}

.newsletter-button {
  color: white;
  background: #fd53c0;
  width: 100px;
  height: 32px;
  border-style: none;
  margin: 0px 0px 0px 20px;
}

.attribution {
  color: white;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: white;
}
